---
title: "Data & Cloud Solution"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/mingwei-lim-OYWV8FCrneM-unsplash.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Data is the new oil of the future, we can together be part of the data driven world. Soar can be your the building block of your company to drive to a better future."
intro: 
  - excerpt: 'Knowledge is in the end based on acknowledgement. -- *Ludwig Wittgenstein*'
feature_row:
  - image_path: assets/images/engin-akyurt-uFzY1WCJWMA-unsplash.jpg
    image_caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
    alt: "placeholder image 1"
    title: "Cloud Enablement"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/new-data-services-Ar-iTL4QKl4-unsplash.jpg
    image_caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
    alt: "placeholder image 2"
    title: "Data Driven Solution"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/scott-graham-5fNmWej4tAA-unsplash.jpg
    image_caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
    title: "Consultation"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}