<style>
  h1, h5 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 0em 1em; 
  }
  form {    
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    background-color: transparent;
  }
  input[type="text"], input[type="email"], input[type="search"], 
  input[type="submit"], button, textarea { 
    max-width: 1280px;
    padding: 1em 1.5em; 
    border: 1px solid #e5e5e5; 
    border-radius: 300px; 
    margin-bottom: 1em; 
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", 
                  "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
                  "Fira Sans", "Droid Sans", "Helvetica Neue", 
                  Arial, sans-serif; 
  }
  textarea { 
    width: 95%;  
    resize: none; 
    border-radius: 50px; 
  }
  input[type="text"], input[type="email"] { 
    width: 85%;  
    resize: none; 
  }

</style>
<br />
<h1>Thank you for your interest in Soar Analytic! </h1>
<h5>Want to learn more or consult about data driven enablement platform? Submit this form and let us know what you are thinking, our team will contact you soon.</h5>
<br />
<form method="POST" action="https://formspree.io/f/xknagybo">
    <input type="email" name="email" placeholder="Your email">
    <input type="text" name="name" placeholder="Your name">
    <textarea name="message" placeholder="Your message" rows="5"></textarea>
    <button type="submit">Send Message</button>
</form>

<!-- TODO Version 2 responsive and split screen style-->
  <!-- <style>
  
    .split {
      height: 100%;
      width: 50%;
      position: fixed;
      height: -webkit-fill-available;
      /* z-index: 1;
      margin-bottom: 125px;
      top: 0; 
      overflow-x: hidden;
      padding-top: 20px; */
    }
    
    .left {
      left: 0;
      background-color: #111;
    }
    
    .right {
      right: 0;
      background-color: red;
    }
    
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .centered img {
      width: 150px;
      border-radius: 50%;
    }
    </style>
    
    <div class="split left">
      <div class="centered">
        <img src="img_avatar2.png" alt="Avatar woman">
        <h2>Jane Flex</h2>
        <p>Some text.</p>
      </div>
    </div>
    
    <div class="split right">
      <div class="centered">
        <img src="img_avatar.png" alt="Avatar man">
        <h2>John Doe</h2>
        <p>Some text here too.</p>
      </div>
    </div> -->